name: Deploy to Timeweb

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy via FTP/SFTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.6
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          protocol: ${{ secrets.FTP_PROTOCOL }}     # ftp или sftp
          port: ${{ secrets.FTP_PORT }}             # 21 для ftp, 22 для sftp
          server-dir: ${{ secrets.FTP_SERVER_DIR }} # обычно "/public_html/"
          local-dir: "./"
          exclude: |
            **/.git*
            **/.github/**
            **/node_modules/**
